<!DOCTYPE html>
<html lang="en">

<head>
    <title>Activity Calendar</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid vh-100 py-2 position-relative">
        <a href="#" class="btn position-absolute end-0 top-0 p-3">
            <span class="material-icons md-36">
                close
            </span>
        </a>
        <h3 class="text-dark text-center fs-2 fw-semibold m-3 h-25">Settings</h3>
        <ul
            class="d-flex flex-column align-items-center list-group text-dark text-center p-3 justify-content-around mt-auto">
            <li class="fs-4 list-group-item border border-0 mb-2">
                <a href="./symbol_creator.html" class="text-dark">Symbol creator</a>
            </li>
            <li class="fs-4 list-group-item border border-0 mb-2">
                <a href=" #" class="text-dark">Symbol library</a>
            </li>
            <li class="fs-4 list-group-item border border-0 mb-2">
                <a href="#" class="text-dark">Week template</a>
            </li>
            <li class="fs-4 list-group-item border border-0 mb-2">
                <a href="#" class="text-dark">User settings</a>
            </li>
            <li class="fs-4 list-group-item border border-0 mb-2">
                <a href="#" class="text-dark">Settings</a>
            </li>
            <li class="fs-4 list-group-item border border-0 mb-2">
                <a href="#" class="text-dark">About</a>
            </li>
        </ul>
    </div>
</body>

</html>